body{
    text-align: center;
    background-color: rgb(9, 93, 122);
}
.btn-container{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 35px 350px;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 2px 3px 10px aqua;
}
.btn{
    border: 2px solid black;
    width: 150px;
    height: 100px;
    border-radius: 10%;
    padding: 10px;
    margin: 20px 10px ;
}
.red{
    background-color: rgb(158, 10, 10);
}
.purple
{
    background-color: purple;
}
.yellow{
    background-color:rgb(185, 185, 16);
}
.green{
    background-color: rgb(15, 153, 15);
}
.flash{
    background-color: rgb(255, 255, 255);
}